@import url("https://fonts.googleapis.com/css?family=Poppins");
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
  box-sizing: border-box;
}
.nobooks {
  color: #d9534f;
  background-color: #f2dede;
  border: 1px solid #ebccd1;
  padding: 15px;
  margin: 15px 0;
  border-radius: 10px;
  text-align: center;
  font-size: 1.2em;
}

body {
  background-color: #000000;
  padding-top: 80px;
}

#library-container {
  padding: 40px;
}

.category-section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
.search-wrapper {
  width: 100%;
  background-color: #000000;
  margin-bottom: 5px;
  margin-top: 30px;
}

#search-input {
  width: 100%;
  padding: 10px;
  border: 1px none #ccc;
  border-radius: 25px;
  font-size: 1rem;
  outline: none;
}

.search-bar {
  width: 70%;
  display: flex;
  align-items: center;
  border-radius: 36px;
  background-color: #fff;
  padding: 0;
  box-shadow: 0 2px 4px aqua;
  position: relative;
  margin: 50px auto;
  margin-bottom: 0;
  outline: none;
  border: none;
}
#search-input:focus {
  outline: 5px solid aqua;
  transition: background-color 0.2s ease;
  background-color: #0000009c;
  color: #fff;
}

.filter-options {
  width: 15%;
  background-color: transparent;
  padding: 0;
  height: 75px;
  line-height: 75px;
  position: relative;
  white-space: nowrap;
  margin-left: 10px;
  margin: 0 auto 20px auto;
}

.filter-options label {
  font-size: 1rem;
  color: #f2dede;
}

.filter-options input[type="checkbox"] {
  margin-right: 10px;
  background-color: transparent;
}

.category-section {
  margin-bottom: 45px;
}

.section-header {
  border: 2px solid aqua;
  text-shadow: 0 1px 2px aqua;
  border-radius: 30px;
  background-color: #181818;
  font-size: 35px;
  font-weight: 900;
  color: rgb(255, 255, 255);
  margin-bottom: 65px;
  text-align: center;
}

.book-div {
  background-color: rgba(255, 255, 255, 0.208);
  padding: 20px 15px 5px 15px;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  align-items: center;
  text-align: center;
  transition: 0.3s;
}

.book-div:hover {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.4);
  .book-name {
    color: rgb(0, 0, 0);
    font-weight: bolder;
  }
  img {
    transform: scale(1.1);
    border-radius: 10px;
  }
  .book-image {
    filter: drop-shadow(0 5px 5px aqua);
  }
}

.book-image {
  width: 150px;
  height: 200px;
  object-fit: cover;
  filter: drop-shadow(0 20px 10px #0009);
  margin-bottom: 25px;
  transition: 0.3s;
  border: 2px solid #fff;
}
.book-image img {
  position: relative;
  transition: filter 0.3s ease;
}

.book-name {
  color: #fff;
  font-weight: 900;
  font-size: 1.1rem;
  transition: 0.3s;
}
.book-author {
  font-size: 0.8rem;
  color: white;
}

.available-false {
  color: rgb(213, 22, 22);
  font-size: 13px;
  font-weight: 700;
}

.available-true {
  color: #148a2f;
  font-size: 13px;
  font-weight: 700;
}

#available-only-checkbox {
  border: none;
  outline: none;
  appearance: none;
  margin: 0;
  cursor: pointer;
  transition: 0.3s;
}

#available-only-checkbox:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #007bff;
  border-radius: 3px;
  background: #fff;
  vertical-align: middle;
  margin-right: 8px;
}

#available-only-checkbox:checked:before {
  background: aqua;
  border-radius: 50%;
}

label {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  color: #333;
}

.category_sections {
  position: relative;
  width: 100%;
  padding: 20px 70px;
  ul {
    list-style: none;
    width: 100%;
    height: 70px;
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
    display: flex;
    justify-content: left;
    gap: 10px;
  }

  li {
    line-height: 50px;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 10px;
    white-space: nowrap;
    transition: 0.3s;
    border: 1px solid #00000070;
  }

  li:hover {
    border: 1px solid #00000070;
    background-color: rgba(255, 255, 255, 0.362);
    color: black;
    a {
      color: black;
      font-weight: 700;
    }
  }

  a {
    text-align: center;
    display: block;
    position: relative;
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 15px;
  }
}

.slider {
  margin: 20px auto;
  overflow-x: auto;
  scrollbar-width: none;
}
.slider ::-webkit-scrollbar {
  display: none;
}

.slider_Button {
  position: absolute;
  top: 32%;
  background-color: aqua;
  color: #000000;
  height: 40px;
  width: 20px;
  font-size: 2.2rem;
  border: none;
  outline: none;
  cursor: pointer;
  transform: translateY(-50%);
  transition: 0.3s;
}

.slider_Button:hover {
  background-color: #fff;
}

.Slider_Content #prev {
  left: 15px;
  display: none;
}

.Slider_Content #next {
  right: 15px;
}
@media only screen and (max-width: 768px) {
  .book-div,
  .card {
    width: calc(100% - 20px);
  }

  .search-bar input[type="text"],
  .filter-options {
    font-size: 14px;
  }

  .category-sections,
  .Slider_Content {
    flex-direction: column;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .book-div,
  .card {
    width: calc(50% - 20px);
  }

  .search-bar input[type="text"],
  .filter-options {
    font-size: 16px;
  }

  .category-sections,
  .Slider_Content {
    flex-wrap: nowrap;
  }
}
