body {
    background: url("../Imgs/large-collection-old-books-wooden-shelves-generated-by-ai.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    /* max-width: 1000px;    
    max-height: fit-content; */
}

div a{
    text-decoration: underline;
    color: black;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif    ;
}


/* Style for book container */
#B1,#B2,#B3,#B4,#B5,#B6,#B7,#B8,#B9,#B10,#B11,#B12,#B13,#B14,#B15,#B16 {
    padding-right: 20px;  
    width: 1000px;
    opacity: .8;  
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
}

/* Style for dropdown button */
.dropbtn {
    width: 100%;
    color: black;
    font-size: 22px;
    padding: 20px 10px;
    margin:5px 0 5px 25% ; 
    border: none;
    cursor: pointer;
    border-radius: 5px ;
}

/* Style for dropdown content */
.dropdown-content {
    display: none;
    position:relative;
    background-color: white;
    width: 99%;
    color: black;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    list-style-type: none;
    padding: 5px;
    margin: 0px 25%;
}

/* Style for dropdown links */
.dropdown-content li {
    padding: 12px 16px;
}

.dropdown-content li a {
    color: #333;
    text-decoration: none;
    display: block;
}

