@import url("https://fonts.googleapis.com/css?family=Poppins");
*{
    font-family: 'Poppins';
    box-sizing: border-box;
}
body{
    background-color: #181818;
    justify-content: center;
    align-items: center;
    margin: 0;
}
body::after {
    content: "";
    background: rgba(0, 0, 0, 0.3); 
    backdrop-filter: blur(10px); 
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
}

img{
    width: 260px;
    height: 90%;
    /* float: left; */
    border: 3px solid #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px aqua;
    margin: 0 15px;

}

.wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 100px auto 150px 250px;
    width: 70%;
    height: 450px;
}

.BookCover{
    height: 100%;
}
.text-box{
    height: 100%;
    color:#fff;
}

.text-box p{
    font-size: 16px;
}
.text-box h2{
    margin: 0 auto;
    position: relative;
    top: 0;
    font-size: 42px;
}
.text-box h3{
    font-size:34px;
    margin: 0 auto;
}
.CheckIcon{
    position: relative;
    top: 2px;
    font-size: 15px;
}

.available{
    color: greenyellow;
}

.unavailable{
    color: red;
}

.buttons{
    display: flex;
    justify-content: left;
    gap: 20px;
    position:relative;
}
.btn1{
    position: relative;
    display: flex;
    justify-content: center;
    width: 150px;
    border: 3px solid aqua;
    padding: 10px;
    border-radius: 50px;
    transition: .3s;
    font-family: 'Poppins';
    background-color: black;
    color: #fff;
    cursor: pointer;
}
.center{
    justify-content: center;
    display: flex;
    gap: 20px;
}


.BookCover .borrowButton{
    position: relative;
    margin-top: 10px;
    width: 100%;
    border: none;
    border-radius: 30px;
    box-shadow: 0 0 5px aqua;
    padding: 10px;
    font-size: 26px;
    font-weight: 700;
    transition: .3s;
    cursor: pointer;
}
.BookCover .borrowButton:hover{
    background-color: aqua;
    box-shadow: 0 0 5px black;
}

#footer_reuseable{
    width: 100%;
}
