@import url("https://fonts.googleapis.com/css?family=Poppins");
*{
    font-family: 'Poppins';
    box-sizing: border-box;
}
.Search_Bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1337px;
    height: 300px;
    background-image: url('../Imgs/wallpaperflare-cropped.jpg');
    background-size: cover;
    position: relative;
    border-radius: 20px;
    /*--------------------------------------------------------------*/
    p{
        font-size: 20px;
        font-weight: 700;
        color: rgb(0, 0, 0);
        position: relative;
        right: 0;
        top: 50px;
    }
    /*--------------------------------------------------------------*/
    h2{
        font-size: 25px;
        font-weight: 900;
        color: rgb(255, 255, 255);
        position: relative;
        left: 5px;
        top: 15px;
    }

}
    /*--------------------------------------------------------------*/

.bar{
    width: 900px;
    height: 50px;
    position: relative;
    input{
        padding-left: 20px;
        outline: none;
        border: none;
        width: 900px;
        height: 50px;
        border-radius: 10px;
    }
    input[type="search"]:focus {
        transition: background-color 0.2s ease;
        background-color: #00000090;
        color: #fff;
    }
    

}

    /*--------------------------------------------------------------*/


.search-icon {
    position: absolute;
    top: 25px;
    right: 10px;
    transform: translateY(-50%);
    width: 30px;
}
    /*--------------------------------------------------------------*/


#Search::-webkit-search-cancel-button {
    position: absolute;
    right: 80px; /* Adjust as needed */
    top: 30px;
}

    /*--------------------------------------------------------------*/



