@import url("https://fonts.googleapis.com/css?family=Poppins");
* {
  font-family: "Poppins";
  box-sizing: border-box;
}

body {
  padding-top: 50px;
  text-align: center;
  background-color: #181818;
  color: #fff;
  background: url(../Imgs/elena-kloppenburg-B6FOuNAYpYI-unsplash.jpg);
background-position: center;
background-size: 100% 100%;
background-repeat: no-repeat;
background-attachment:fixed;

}

body::after {
  content: "";
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.content {
  padding: 20px 35px 25px;
  display: flex;
  flex-direction: column;
  width: 850px;
  height: 550px;
  justify-content: space-around;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid aqua;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.209);
  border-radius: 10px;
}

.input_box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  height: 50px;
  margin: 20px 0;
}

.input_field {
  position: relative;
  width: 48%;
  margin: 15px 0;

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    color: #fff;
    height: 100%;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    outline: none;
    font-size: 16px;
    padding: 15px 15px 15px 35px;
    border-radius: 8px;
  }

  label {
    height: 100%;
    font-size: 20px;
  }
}

.sIcon {
  color: aqua;
  font-size: 20px;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.toggle-icon {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.check {
  left: 120px;
}

.content input[type="submit"] {
  width: 100%;
  height: 50px;
  background-color: #fff;
  border: 2px solid black;
  outline: none;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  transition: 0.4s;
}

.content input[type="submit"]:hover {
  background-color: aqua;
}

.content .lb {
  font-size: 14.5px;
  span {
    color: #ccc;
  }
}

.content label input {
  accent-color: aqua;
}

input[type="radio"] {
  accent-color: aqua;
}

.alrlog {
  padding: 2% 2%;
  a {
    color: aqua;
    text-decoration: underline;
  }
  a:visited {
    color: aqua;
  }
}

@media only screen and (max-width: 650px) {
    .form-container {
        padding: 15px;
    }

    .content{
      width: auto;
      height: 550px;
    }

    .input_field input[type="text"],
    .input_field input[type="email"],
    .input_field input[type="password"] {
        padding-left: 30px;
    }

    .buttonreg {
        padding: 8px;
    }

    .check{
      left: 40px;
    }
}

@media only screen and (min-width: 650px) and (max-width: 992px) {
    .form-container {
      padding: 25px;
    }

    .content{
      width: auto;
    }

    .input_field input[type="text"],
    .input_field input[type="email"],
    .input_field input[type="password"] {
        padding-left: 30px;
    }

    .buttonreg {
        padding: 12px;
    }
}

@media only screen and (min-width: 650px) and (max-width: 820px){
  .check{
    left: 60px;
  }
}

@media only screen and (max-width: 545px) {
  .check{
    display: none;
  }
}